auto-save-list/
backups/
elpa/
secrets/
snippets/eightminutes
bookmarks
erc-config.el
erc-config.org
.projectile
projectile-bookmarks.eld
projectile-cache
sod.el
recentf
tramp
network-security.data
%backup%~
.#*